@font-face {
  font-family: "icon-font";
  src: url('../fonts/icon-font.eot');
  src: url('../fonts/icon-font.eot?#iefix') format('eot'),
    url('../fonts/icon-font.woff') format('woff'),
    url('../fonts/icon-font.ttf') format('truetype'),
    url('../fonts/icon-font.svg#icon-font') format('svg');
}

%icon {
  position: relative;
  display:inline-block;
  font-family:"icon-font";
  font-style:normal;
  font-weight:normal;
  line-height:1;
  speak:none;
  text-decoration:inherit;
  text-transform:none;
  text-rendering:optimizeLegibility;
  vertical-align:middle;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == arrow {
    $char: "\E001";
  }
  @if $filename == document {
    $char: "\E002";
  }
  @if $filename == dribbble {
    $char: "\E003";
  }
  @if $filename == facebook {
    $char: "\E004";
  }
  @if $filename == github {
    $char: "\E005";
  }
  @if $filename == google {
    $char: "\E006";
  }
  @if $filename == instagram {
    $char: "\E007";
  }
  @if $filename == linkedin {
    $char: "\E008";
  }
  @if $filename == mail {
    $char: "\E009";
  }
  @if $filename == twitter {
    $char: "\E00A";
  }

  @return $char;
}

@mixin icon($filename) {
  content: icon-char($filename);
}


.icon-arrow{
  @extend %icon;
  &:before {
    @include icon(arrow);
  }
}
%icon-arrow {
  @extend %icon;
  @include icon(arrow);
}


.icon-document{
  @extend %icon;
  &:before {
    @include icon(document);
  }
}
%icon-document {
  @extend %icon;
  @include icon(document);
}


.icon-dribbble{
  @extend %icon;
  &:before {
    @include icon(dribbble);
  }
}
%icon-dribbble {
  @extend %icon;
  @include icon(dribbble);
}


.icon-facebook{
  @extend %icon;
  &:before {
    @include icon(facebook);
  }
}
%icon-facebook {
  @extend %icon;
  @include icon(facebook);
}


.icon-github{
  @extend %icon;
  &:before {
    @include icon(github);
  }
}
%icon-github {
  @extend %icon;
  @include icon(github);
}


.icon-google{
  @extend %icon;
  &:before {
    @include icon(google);
  }
}
%icon-google {
  @extend %icon;
  @include icon(google);
}


.icon-instagram{
  @extend %icon;
  &:before {
    @include icon(instagram);
  }
}
%icon-instagram {
  @extend %icon;
  @include icon(instagram);
}


.icon-linkedin{
  @extend %icon;
  &:before {
    @include icon(linkedin);
  }
}
%icon-linkedin {
  @extend %icon;
  @include icon(linkedin);
}


.icon-mail{
  @extend %icon;
  &:before {
    @include icon(mail);
  }
}
%icon-mail {
  @extend %icon;
  @include icon(mail);
}


.icon-twitter{
  @extend %icon;
  &:before {
    @include icon(twitter);
  }
}
%icon-twitter {
  @extend %icon;
  @include icon(twitter);
}
