.btn,
.form .btn {
  @extend %ease-trans;
  position: relative;
  display: inline-block;
  margin: 10px 5px;
  padding: 14px 15px 12px;
  height: auto;
  border: 1px solid $color_red;
  background: $color_red;
  color: $color_white;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  font-weight: bold;
  font-size: rem(16);
  line-height: 1;
  
  &:hover {
    background: transparent;
    color: $color_red;
  }
  
  span {
    position: relative;
    top: -2px;
    display: block;
    float: left;
    margin-right: 10px;
  }
}
