@mixin transition($animation) {
  transition: all 0.3s $animation;
}

%linear-trans {
  @include transition(linear);
}

%ease-trans {
  @include transition(ease);
}

.fade {
  animation-name: fade;
  animation-duration: 1.4s;
  animation-timing-function: ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0.0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-after {
    animation-name: fade-after;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
}
@keyframes fade-after {
  0% {
    opacity: 0.0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}