.contact {
  @include container();
  @include clearfix();
  padding: 2% 1%;
  width: 100%;
  background: $color_red;
  font-size: rem(16);
  
  a {
    color: $color_nearlyblack;
    
    &:hover {
      color: $color_white;
    }
  }
  
  h1 {
    font-size: rem(32);
  }
  
  .social {
    margin: 20px 0 0 0;
    padding: 0;
    text-align: center;
    font-size: 0;
    
    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style: none;
      vertical-align: bottom;
    }
    
    a {
      position: relative;
      z-index: 2;
      display: block;
      margin: 0 4px 4px 4px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: shade($color_red, 15%);
      color: tint($color_red, 85%);
      text-decoration: none;
      font-size: rem(28);
      line-height: 40px;
      backface-visibility: hidden;
      
      @media screen and (min-width: $break-small) {
        font-size: rem(26);
      }
      
      @media screen and (min-width: $break-medium) {
        width: 50px;
        height: 50px;
        border-width: 2px;
        font-size: rem(32);
        line-height: 50px;
      }
      
      @media screen and (min-width: $break-large) {
        margin: 0 8px;
        font-size: rem(28);
      }
      
      &:hover {
        background: tint($color_red, 85%);
        color: shade($color_red, 25%);
      }
    }
    
    span {
      position: relative;
      top: -2px;
      
      @media screen and (min-width: $break-medium) {
        top: -3px;
      }
    }
  }
}