.footer {
  @include container();
  @include clearfix();
  padding: 0% 1% 2%;
  background: $color_nearlyblack;
  font-size: rem(18);
  
  nav ul {
    padding: 0 0 0 5px;
    
    li {
      float: left;
      margin: 0 1%;
    }
  }
  
  a {
    color: $color_white;
    
    &:hover {
      color: $color_red;
    }
  }
  
  .logo {
    float: right;
    margin: 0 2.5%;
  }
}
