.header {
  @include container();
  @include clearfix();
  position: fixed;
  top: 0px;
  z-index: 10;
  padding: 0% 1% 1.5%;
  background: $color_red;
  box-shadow: 0 1px 5px 0 rgba(50,50,50,.25);
  font-size: rem(18);
  
  nav ul {
    padding: 0 0 0 5px;
    
    li {
      float: left;
      margin: 0 1%;
    }
  }
  
  a {
    color: $color_white;
    
    &:hover {
      color: $color_dk_grey;
    }
  }
  
  .logo {
    float: right;
    margin: 0 2.5%;
  }
}