.owl-carousel {
  position: relative;
  display: none;
  width: 100%;
  -ms-touch-action: pan-y;
  .owl-wrapper {
    position: relative;
    display: none;
    transform: translate3d(0px, 0px, 0px);
    &:after {
      display: block;
      visibility: hidden;
      clear: both;
      height: 0;
      content: ".";
      line-height: 0;
    }
  }
  .owl-wrapper-outer {
    position: relative;
    overflow: hidden;
    width: 100%;
    &.autoHeight {
      transition: height 500ms ease-in-out;
    }
  }
  .owl-item {
    float: left;
  }
}

.owl-controls {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  .owl-page, .owl-buttons div {
    cursor: pointer;
  }
}

.owl-carousel {
  .owl-wrapper, .owl-item {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
  }
}

.owl-theme .owl-controls {
  text-align: center;
  .owl-page {
    display: inline-block;
    span {
      display: block;
      margin: 5px 7px;
      width: 12px;
      height: 12px;
      border-radius: 20px;
      opacity: 0.5;
      backface-visibility: hidden;
    }
    &.active span {
      opacity: 1;
    }
  }
  &.clickable .owl-page:hover span {
    opacity: 1;
  }
}

.owl-origin {
  perspective-origin-x: 50%;
  perspective-origin-y: 50%;
  perspective: 1200px;
}

.owl-fade-out {
  z-index: 10;
  animation: fadeOut .7s both ease;
}

.owl-fade-in {
  animation: fadeIn .7s both ease;
}

@keyframes empty {
  0% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}