.latest-work {
  @include container();
  @include clearfix();
  padding: 2% 1%;
  width: 100%;
  background: $color_grey;
  font-size: rem(16);
  
  h1 {
    font-size: rem(32);
  }
  
  .owl-carousel {
    margin-bottom: 50px;
  }
  
  .owl-wrapper-outer {
    padding: 0 0 40px 0;

    @media screen and (min-width: $break-medium) {
      padding: 40px 0;
    }
  }
  
  .owl-prev,
  .owl-next {
    @extend %ease-trans;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 48px;
    height: 48px;
    border: 2px solid tint($color_nearlyblack, 55%);
    border-radius: 50%;
    color: tint($color_nearlyblack, 55%);
    text-align: center;
    font-size: rem(22);
    line-height: 2;
    
    @media screen and (min-width: $break-medium) {
      line-height: 1.8;
    }
    
    @media screen and (min-width: 1120px) {
      position: absolute;
      top: 50%;
      margin: -25px 0 0 0;
    }
    
    &:hover {
      border-color: tint($color_nearlyblack, 25%);
      color: tint($color_nearlyblack, 25%);;;
    }
  }
  
  .owl-prev {
    float: left;
    transform: rotate(-90deg);
    
    @media screen and (min-width: 1120px) {
      left: -68px;
    }
  }
  
  .owl-next {
    float: right;
    transform: rotate(90deg);
    
    @media screen and (min-width: 1120px) {
      right: -68px;
    }
  }
  
  .owl-pagination {
    position: absolute;
    bottom: -55px;
    padding: 20px 0;
    width: 100%;
    line-height: 10px;
  }
  .owl-page span {
    @extend %ease-trans;
    background: tint($color_red, 25%);
  }
  
  .slider-image {
    margin: 0 0 30px 0;
    
    @media screen and (min-width: $break-medium) {
      float: left;
      margin: 0;
      width: 50%;
    }
    
    img {
      max-width: 100%;
      height: auto;
    }
  }
  
  .slider-content {
    @media screen and (min-width: $break-medium) {
      float: left;
      padding-left: 20px;
      width: 50%;
      text-align: left;
    }
    
    h2 {
      margin: 0 0 15px 0;
      text-transform: none;
      font-weight: bold;
    }
    
    .btn {
      margin: 0;
      background: $color_red;
      
      &:hover {
        background-color: $color_white;
        color: $color_nearlyblack;
      }
    }
  }
}