doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Josh Christensen - Front-End Developer in Apex, NC
    meta(name='description', content='Heyo! I’m Josh. I’m a front-end web developer and aspiring back-end developer in Apex, North Carolina.')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='assets/css/main.css')
    link(rel='shortcut icon', href='assets/img/favicon.png')
    link(rel='apple-touch-icon', href='assets/img/apple-touch-icon.png')
  body

    .top
    .right
    .bottom
    .left
    #top.anchor
    header.header
      .container
        nav.nav
          ul
            li
              a.scrollto(data-target='#latest-work', href='#work') Work
            li
              a.scrollto(data-target='#about', href='#about') About
            li
              a.scrollto(data-target='#contact', href='#contact') Contact
        a.logo.scrollto(data-target='#top', href='#top') Josh Christensen

    section.personal
      .personal-bg.fade
      header
        h1.fade-after Front End Ninjy 
      a.scrollto.next-section(data-target='#latest-work', href='#latest-work')
        span.icon-arrow

    section.latest-work
      #latest-work.anchor
      header
        h1 Latest Work
      span.waypoint-header(data-animate-down='header-small', data-animate-up='header-large')
        #slider.slider
          div
            .slider-image
              img(src='assets/img/work/academy.jpg')
            .slider-content
              h2 Smashing Boxes Academy
              p Front-end development (HTML, SASS, Responsive, jQuery, Ruby on Rails).
              a.btn(href='http://academy.smashingboxes.com/', target='_blank') Visit Site
          div
            .slider-image
              img(src='assets/img/work/sb.jpg')
            .slider-content
              h2 Smashing Boxes
              p Front-end development (HTML, SCSS, Responsive, jQuery, Ruby on Rails).
              a.btn(href='http://www.smashingboxes.com/', target='_blank') Visit Site
          div
            .slider-image
              img(src='assets/img/work/error.jpg')
            .slider-content
              h2 404 Wiki 
              p Front-end development (HTML, CSS, Responsive, jQuery, Underscore).
              a.btn(href='https://github.com/ethikz/404-Wiki/', target='_blank') View Source on Github

    section.skills
      #skills.anchor
      header
        h1 Skillset
      .skills-content
        p Since girls only want guys with great skills I figured I'd show my Front End Ninjy skillset.
        .code 
          span &lt;HTML&gt;
          .tooltip
            span 17 years
        .code
          span {CSS}
          .tooltip
            span 17 years
        .code
          span $jQuery
          .tooltip
            span 2 years
        .code
          span JavaScript
          .tooltip
            span 2 years
        .code
          span @Ruby on Rails
          .tooltip
            span 1 years
        .code
          span ?Wordpress
          .tooltip
            span 3 years
        .code
          span ;SQL
          .tooltip
            span 3 years

    
    section.about
      #about.anchor
      header
        h1 About
      .about-content
        .hexagon.hexagon1
          .hexagon-in1
            .hexagon-in2
        p Heyo! I’m Josh. I’m a front-end web developer in Apex, North Carolina with a passion for web development and design.
        p Cliche possibly, but I am proud of all my work and can’t single out a project as my favorite.  I enjoy listening to and playing music. I'm also a fan of movies, hiking, computers, and making people laugh. I enjoy helping others as well and hope to inspire people.
        p I love learning and staying up to date on the latest web trends, technologies and tools.

    section.contact
      #contact.anchor
      header
        h1 Contact
      a.btn(href='mailto:josh.christensen2@gmail.com')
        span.icon-mail
        | Email Me
      a.btn(href='http://www.linkedin.com/in/ethikz')
        span.icon-document
        | View my Resume
      ul.social
        li
          a.social-linkedin(href='http://www.linkedin.com/in/ethikz')
            span.icon-linkedin
        li
          a.social-github(href='https://github.com/ethikz')
            span.icon-github
        li
          a.social-instagram(href='http://instagram.com/ethikz')
            span.icon-instagram
        li
          a.social-facebook(href='https://www.facebook.com/ethikz')
            span.icon-facebook
        li
          a.social-twitter(href='https://twitter.com/#!/ethikz')
            span.icon-twitter
        li
          a.social-google(href='https://plus.google.com/+JoshChristensen')
            span.icon-google

    script(type='text/javascript', src='assets/js/scripts.min.js')
